<nav>
    <ul>
        <li routerLink="/addProject">
            Dodaj projekt
            <i class="fas fa-folder-plus"></i>
        </li>
        <li routerLink="/projects">
            Projekty
            <i class="fas fa-folder-open"></i>
        </li>
        <li routerLink="/calendar">
            Kalendarz
            <i class="fas fa-calendar-day"></i>
        </li>
        <li routerLink="/statistics">
            Statystyki
            <i class="fas fa-chart-area"></i>
        </li>
        <li routerLink="/notifications">
            Przypomnienia
            <i class="fas fa-business-time"></i>
        </li>
        <li routerLink="/users" >
            Pracownicy
            <i class="fas fa-users"></i>
        </li>
    </ul>
    <i id="icon-menu" class="fas fa-bars"></i>
</nav>