<article>
    <header><h1>Dodaj projekt</h1></header>
    <section>
        <section id="section-client">
            <div>
                Nazwa projektu
                <input [formControl]="name"  type="text">
            </div>
            <div>
                Klient / Firma
                <input [formControl]="client"  type="text">
            </div>
            <div>
                Addres klienta 
                <input  [formControl]="address" type="text">
            </div>
            <div>
                NIP klienta
                <input [formControl]="nip"  type="text">
            </div>
            
            <div>
                Deadline
                <input [formControl]="deadline" type="datetime-local">
            </div>
            <div>
                Wynagrodzenie
                <input [formControl]="sallary"  type="number">
                <!-- <input type="number" [formControl]="salary" pattern="^[0-9]*$"> -->
            </div>

            <!-- <div *ngIf="sallary.errors?.pattern">Invalid age !</div> -->
        </section>
        

        <section id='section-employees'>
            
            <div>
                Praacownicy
                <form>
                    <select name="nazwa">
                        <option type="checkbox" [formControl]="sallary"   >Jan KowalskiJanKowalski</option>
                        <option>Jan NowaklskiJanKowa</option>
                        <option>Jan KowalskiJanKowalski</option>
                        <option>Jan NowaklskiJanKowa</option>
                        <option>Jan KowalskiJanKowalski</option>
                        <option>Jan NowaklskiJanKowa</option>
                        <option>Jan KowalskiJanKowalski</option>
                        <option>Jan NowaklskiJanKowa</option>
                    </select>
                </form>
            </div>
            <div>
                Liczba godzin pracy
                <input type="number">
            </div>
        </section>

        <section id="section-notes">
            Notatki
            <input type="text">
        </section>
    </section>
    
    <div (click)="saveProject()">Dodaj!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</div> 
    <button (click)="showProjects()">Pokaz</button> 
</article>